.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 8px rgba(25,25,25,0.7);
  border: 5px solid rgba(25, 25, 25, 0.1);
  border-radius: 4px;
}

.dropdown-content {
  background-color: #fff;
}

.apex-theme-vita-dark .dropdown-content {
  background-color: #222629;
}

.show {display: block; z-index: 999;}
#myCustomDropdown .t-Form-fieldContainer {padding:0!important;}
#myCustomDropdown .t-Form-fieldContainer {padding-bottom: 5px !important;}